/*** Service ***/
.service-text::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: #212529;
  opacity: 0;
  transition: 0.5s;
}

.service-item:hover .service-text::before {
  height: 100%;
  opacity: 1;
}

.service-text * {
  position: relative;
  transition: 0.5s;
  z-index: 1;
}

.service-item:hover .service-text * {
  color: #ffffff !important;
}
