.carousel-inner .carousel-item {
  background-color: black;
}

.carousel-inner .carousel-item img {
  min-width: 100%;
  height: 90vh;
  opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  .carousel-inner .carousel-item img {
    min-width: 100%;
    height: 60vh;
  }
  .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 18px;
  }
  .carousel-inner .carousel-item .carousel-caption h1 {
    font-size: 26px;
    font-weight: bold;
  }
}
