.container {
  width: 500px;
  margin: auto;
  text-align: center;
}

.back-to-top {
  position: fixed;
  bottom: 70px;
  right: 20px;
  font-size: 40px;
  background: rgba(59, 55, 49, 0.5);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  box-shadow: inset 0 0 1em rgb(0, 0, 0), 0 0 1em #ccc;
}

.back-to-top:hover {
  background: rgba(91, 90, 87, 0.5);
}
